{% extends "base.html" %}
{% block title %}Pastycake Dashboard | {{page}}{%endblock%}

{% block header %}<h1>latest pastycake results</h1>{%endblock%}


{% block content %}
<div id="matches">
    <article class="match">
        <aside class="meta">
            <h2><a href="result" target="_blank">foobar</a></h2>
        </aside>
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
            dignissim arcu eget nibh tincidunt sollicitudin. Aliquam erat
            volutpat. Fusce volutpat imperdiet tellus, at lacinia tortor
            pharetra ut. In velit est, aliquet quis eleifend nec, posuere vel
            ipsum. Pellentesque habitant morbi tristique senectus et netus</p>
        </blockquote>
    </article>
</div>
{%endblock%}
